*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif; /*Font Oswald*/
}
body{
    background-color: rgba(0, 0, 0, 0.848) !important;
}
.navbar .container-fluid a,button{
    color: whitesmoke !important; 
    transition: 1ms;
    text-shadow: 2px 2px black;
}
.navbar .container-fluid button{
    border: 1px solid whitesmoke;
}
.navbar .container-fluid a:hover,button:hover{
    transform: scale(1.05);
    text-decoration: overline;
}
#navbar_nav{
    background-color: rgba(0, 0, 0, 0.829);
}
#carrousel{
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.536);
    border-radius: 20px;
}
.carousel-item img{ 
    margin: auto !important;
    width: 70% !important; 
    height: auto !important;
}

#cards .container{
    margin: auto;
}

#cards{
    margin-top: 10px;
}
#cards img{
    margin: auto;
}
#cards .col{
    text-align: center;
    background-color: white;
    padding: 10px;
}
#cards #banner{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 3px 3px rgb(107, 107, 107);
}
.right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px rgb(107, 107, 107);
}
.row img{
    width: 100%;
    padding: 0;
}
.row {
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .footer{
    margin-top: 40px;
    height: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.829);
    color: whitesmoke;
    padding: 5px;
    position: relative;
    bottom: 0;
}
.footer ul{
    width: 100%;
    padding: 0;
}
.footer ul li{
    text-align: center;
    list-style: none;
    width: 100%;
}
.footer ul li a{
    text-decoration: none;
    color: whitesmoke;
}
/*Colores*/

.img_album img{
    width: 70%;
}
#blacky{
    color: black;
}
.img_album #banner img{
    width: 60%;
}
.who{
    border-radius: 10px;
    
    box-shadow: 3px 3px rgb(107, 107, 107);
}
#banner_who{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 50%;
}
